html{
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.home{
    width: auto;
    height: 100vh;
    background-color: hsl(206, 4%, 97%);
    position: relative;
}

.navbar{
    display: flex;
    padding: 1rem;
    height: 93px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

input#menu-hamburguesa{
    visibility: hidden;
}

.menu_hamburguesa1{
    position: relative;
    z-index: 5;
}

input#menu-hamburguesa ~ ul{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 100%;
    transition: all 300ms linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    margin-bottom: 1rem;
}

input#menu-hamburguesa:checked ~ ul{
    right: 0;
    background-color: #FFFFFF;
}

.menu li{
    list-style: none;
    padding: 2rem;
}

.menu a{
    color: hsl(0, 0%, 35%);
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover{
    color: hsl(354, 78%, 60%);
}

input#bolsa-compras{
    visibility: hidden;
}

input#modo-noche{
    visibility: hidden;
}

input#logo{
    visibility: hidden;
}

.logo-a{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.logo-a p{
    margin-left: 1rem;
    margin-top: .2rem;
}

.img-logo{
    height: 28px;
    width: 24px;
    margin-bottom: 1rem;
}

.main{
    background-color: hsl(206, 4%, 97%);
}

.img-prin{
    height: 370px;
    width: 370px;
}

.img-prin1{
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.caja-1{
    height: 500px;
    width: 370px;
    position: absolute;
    background-color: hsl(354, 78%, 60%);
    right: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.text{
    margin-top: 5rem;
    margin-left: 2rem;
}

.text h2{
    font-weight: bold;
    font-size: 28px;
    color: hsl(0, 0%, 15%);
}

.text p{
    margin-top: 1.5rem;
    color: hsl(0, 0%, 35%);
}

.text p span{
    color: hsl(354, 78%, 60%);
    font-weight: bold;
    font-size: 18px;
}

.bottom-cart{
    display: flex;
    margin-left: 3rem;
    margin-top: 3rem;
}

.discover{
    height: 3rem;
    width: 6.5rem;
    background-color: hsl(0, 0%, 65%);
    text-align: center;
    color: black;
    margin-top: .5rem;
    font-weight: bold;
}

.discover p{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.cart{
    height: 4rem;
    width: 10rem;
    background-color: hsl(0, 0%, 17%);
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

.discover p{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.cart p{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.discover:hover{
    color: #FFFFFF;
}

.cart:hover{
    background-color: hsl(354, 78%, 60%);
}

.products{
    width: auto;
    height: 100%;
    background-color: hsl(206, 4%, 97%);
    position: relative;
}

.types-of-products{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 2rem;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.product-container{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.subt-product{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-weight: bold;
}

.delimiter1{
    position: absolute;
    height: 60px;
    width: 6px;
    right: 50%;
    top: 5.5rem;
}

.delimiter2{
    position: absolute;
    height: 60px;
    width: 6px;
    right: 50%;
    top: 11.5rem;
}

.hoodies, .shirts, .sweatshirts{
    background-color: hsl(0, 0%, 90%);
    border-radius: 0.5rem 0.5rem 0 0;
}

img{
    max-width: 100%;
    height: auto;
}

article{
    background-color: #FFF;
    width: auto;
}

.products-box{
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 4rem;
}

.data-hoodies{
    position: relative;
    padding: 1rem 0 1.25rem 1rem;
}

.data-shirts{
    position: relative;
    padding: 1rem 0 1.25rem 1rem;
}

.data-sweatshirts{
    position: relative;
    padding: 1rem 0 1.25rem 1rem;
}

.data-hoodies p{
    font-weight: bold;
}

.data-hoodies p span{
    font-weight: 100;
    margin-left: .7rem;
}

.data-shirts p{
    font-weight: bold;
}

.data-shirts p span{
    font-weight: 100;
    margin-left: .7rem;
}

.data-sweatshirts p{
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.data-sweatshirts p span{
    font-weight: 100;
    margin-left: .7rem;
}

.delimiter3, .delimiter4, .delimiter5{
    position: absolute;
}

.delimiter3{
    left: 37%;
    top: 24%;
    height: 18px;
    width: 2px;
}

.delimiter4{
    left: 37%;
    top: 24%;
    height: 18px;
    width: 2px;
}

.delimiter5{
    left: 37%;
    top: 24%;
    height: 18px;
    width: 2px;
}

.products-box button{
    display: inline-flex;
    padding: 0.6rem .9rem;
    background-color: var(--body-color);
    border-radius: 50%;
    font-size: 1rem;
    position: absolute;
    text-decoration: none;
    font-weight: bold;
    color: hsl(0, 0%, 15%);
    box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);
    background-color: hsl(206, 4%, 97%);
    margin-top: 12rem;
    margin-left: 9.5rem;
    z-index: 3;
}

.products-box button:hover{
    background-color: hsl(354, 78%, 60%);
}

@media only screen and (min-width: 600px){
    .menu_hamburguesa1{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        width: 70%;
    }

    .navbar{
        justify-content: flex-start;
    }
}